body {
  background-image: none;
}

.final {
  max-width: 1920px;
  padding: 78px 40px 40px 40px;
  margin: 0 auto;
  position: relative;
  background-image: url(../img/final-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  overflow: hidden;
}

.logo {
  top: 0;
  padding-left: 40px;
}

.logo-link {
  cursor: pointer;
}

.final-title {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_h1 {
  font-family: Mak;
  position: static;
  width: fit-content;
}

.final-content {
  margin-bottom: 20px;
  justify-content: space-between;
}

.final_assistent-name {
  color: #f7eafc;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.final_assistent-text {
  max-width: 312px;
  color: #232962;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.final_assistant-perrot {
  position: relative;
  top: -35%;
}

.perrot_name {
  top: 34.5%;
  left: 34.5%;
}

.perrot_text {
  top: 50%;
  left: 15%;
}

.perrot-btn {
  position: absolute;
  bottom: 15%;
  left: 32%;
  gap: 20px;
  align-items: center;
}

.perrot_textbtn {
  font-size: 16px;
}

.perrot-btn_img {
  width: 50px;
  height: 40px;
  background-image: url(../img/button_arrow.png);
  background-position: center;
}

.perrot-btn_img:hover {
  background-image: url(../img/button_arrow-hover.png);
}

.final-center {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 38.1%;
}

.center_img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -28%;
}

.center_text,
.center_buttons {
  position: relative;
  z-index: 1;
}

.game__point {
  width: fit-content;
  top: 28%;
  left: 30px;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.center_text {
  padding-top: 35px;
  margin-bottom: 240px;
  font-family: Comfortaa;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  color: #fff;
  letter-spacing: 0.04em;
  text-align: left;
}

.center_buttons {
  flex-direction: column;
  gap: 20px;
}

.game__point::before {
  left: -30%;
}

.final-right {
  width: 25.5%;
  flex-direction: column;
}

.final-left {
  width: 25.5%;
  flex-direction: column;
  align-items: end;
}

.final_deniska {
  top: -35%;
  position: relative;
}

.deniska_name {
  position: absolute;
  top: 47.5%;
  left: 38.5%;
}

.deniska_text {
  position: absolute;
  top: 65%;
  left: 17%;
}

.IT-logo__title {
  align-items: center;
}

.footer {
  position: static;
  padding: 0;
}

.footer {
  position: relative;
  z-index: 1;
}

/* Адаптив */

@media (max-width: 1800px) {
  .final_assistant-perrot {
    top: -15%;
  }

  .final_deniska {
    top: -15%;
  }

  .center_img {
    height: 150%;
  }
}

@media (max-width: 1750px) {
  .game-crossword__btn {
    font-size: 24px;
  }
}

@media (max-width: 1600px) {
  .final {
    padding: 150px 40px 40px 40px;
  }

  .final-center {
    width: 45%;
  }

  .game-crossword__btn {
    padding: 12px 63px;
    font-size: 20px;
  }

  .game__point {
    padding: 4px 24px;
    font-size: 24px;
  }

  .game__point::before {
    width: 60px;
    height: 60px;
    top: -33.5%;
    background-image: url(../img/point_tablet.svg);
  }

  .final_assistent-name {
    font-size: 18px;
  }

  .perrot_name {
    left: 35%;
  }

  .final_assistent-text {
    max-width: 256px;
    font-size: 16px;
  }

  .perrot_text {
    left: 12%;
  }

  .perrot-btn {
    bottom: 16.5%;
    left: 23%;
  }

  .deniska_text {
    left: 12%;
  }

  .logo-img {
    width: 60px;
    height: 60px;
  }

  .footer__text,
  .IT-logo__text {
    font-size: 12px;
  }

  .IT-logo__title {
    font-size: 14px;
  }
}

@media (max-width: 1440px) {
  .title_h1 {
    font-size: 48px;
  }

  .center_text {
    margin-bottom: 140px;
    font-size: 32px;
    text-align: center;
  }

  .game__point {
    top: 53%;
  }

  .center_img {
    height: 160%;
    top: -10%;
  }

  .final-content {
    margin-bottom: 100px;
  }

  .final-center {
    width: 48%;
  }

  .center_div {
    margin-top: 150px;
  }
}

@media (max-width: 1366px) {
  .final-center {
    width: 50%;
  }

  .perrot_name {
    left: 34%;
  }

  .final-left,
  .final-right {
    width: auto;
  }

  .final_assistant-perrot,
  .final_deniska {
    position: absolute;
  }

  .final_deniska {
    top: 35%;
    right: 5%;
  }

  .final_assistant-perrot {
    top: 35%;
    left: 5%;
    z-index: 1;
  }

  .final-content {
    justify-content: center;
  }
}

@media (max-width: 1300px) {
  .final-center {
    width: 55%;
  }
}

@media (max-width: 1200px) {
  .final-center {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .final {
    padding: 203px 40px 20px 40px;
    background-image: url(../img/final-background_tablet.webp);
  }

  .center_img {
    display: none;
  }

  .logo {
    padding-left: 0;
  }

  .final_assistant-perrot {
    top: 33%;
    left: 30px;
  }

  .final_deniska {
    top: 34%;
    right: 30px;
  }

  .final-content {
    margin-bottom: 120px;
  }

  .center_text {
    padding-top: 286px;
  }

  .game__point {
    top: 70%;
  }
}
