body {
  margin: 0;
  position: relative;
  background: url(../img/background_labyrinth.png) no-repeat center center fixed;
  background-size: 100% 100%;
}

.game__block-labyrinth {
  display: flex;
  justify-content: space-around;
}

.game__left-labyrinth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding-top: 16rem;
}

@media (max-width: 1500px) {
  .game__block-labyrinth {
    flex-direction: column;
    margin-top: 4rem;
  }
  .game__center-labyrinth {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 780px) {
  .game__title-labyrinth {
    max-width: 360px !important;
  }
  .game__left-labyrinth {
    padding-top: 8rem;
  }
  .game__block-labyrinth {
    flex-direction: column-reverse;
  }
}
