input {
    padding: 0;
    margin: 0;
}

.symbols .game__left {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    grid-column: 3 span;
}

.symbols .game__right {
    grid-column: 6 span;
}

.game.symbols {
    background-image: url(../img/background-symbols.webp);
}

.symbols__item {
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/symbol-border.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.symbols__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    width: 100%;
}

.symbols .game__block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 70px;
    margin-top: auto;
}

.symbol__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.symbol__input {
    display: none;
}

.symbol__radio {
    padding: 15px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    border-radius: 100px;
    border: 2px solid #814073;
    background: linear-gradient(90deg, #6333BA 0.08%, #7444D3 49.87%, #7F50E3 97.99%), #FFF;
    color: white;
    border-image: url(../img/border-btn.webp);
    border-image-slice: 40%;
    border-image-width: 100%;
    cursor: pointer;
}

.symbol__input--true:checked~.symbol__radio {
    border: 2px solid #6E9D73;
    border-image: url(../img/border-btn-true.webp);
    border-image-slice: 40%;
    border-image-width: 100%;
    background: linear-gradient(90deg, #20C27E 0.08%, #22A465 49.87%, #2DB743 97.99%), #FFF;
    box-shadow: 6px 11px 4px 0px #2FA75F inset, -6px -10px 4px 0px #96FFC0 inset;
}

.symbol__input--false:checked~.symbol__radio {
    border: 2px solid #882F4F;
    border-image: url(../img/border-btn-false.webp);
    border-image-slice: 40%;
    border-image-width: 100%;
    background: linear-gradient(90deg, #E83480 0.08%, #EB503B 49.87%, #C22047 97.99%), #FFF;
    box-shadow: 6px 11px 4px 0px #A72F2F inset, -6px -10px 4px 0px #FF9696 inset;
}

.symbol__img {
    width: 35%;
}

@media (max-width: 1600px) {
    .symbols .game__block {
        gap: 50px;
    }
}




@media (max-width: 1400px) {
    .symbols .game__right {
        grid-column: 1;
    }

    .symbols__form {
        gap: 20px;
    }

    .game.symbols {
        background-image: url(../img/background-symbols-tablet.webp);
    }

    .symbols .game__left {
        align-items: center;
        grid-column: 1;
    }

    .symbols .game__block {
        padding-top: 130px;
        grid-template-columns: 1fr;
    }

}

@media (max-width: 768px) {
    .symbols__form {
        grid-template-columns: 1fr;
    }

    .symbols__item {
        padding: 60px 40px;
    }

    .symbols .game__right {
        display: none;
    }

    .symbols .game__left {
        grid-row: 2;
    }

    .symbols .game__block {
        padding-bottom: 86px;
        padding-top: 0;
        gap: 15px;
    }
}

@media (max-width: 576px) {
    .symbols .game__btn {
        position: absolute;
        bottom: 20px;
        z-index: 2;
    }

    .symbols .game__block {
        /* overflow-y: scroll; */
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .symbols .game__block::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}